/*
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */

/* clearfix */

.owl-carousel {
  position: relative;

  display: none;

  width: 100%;

  -ms-touch-action: pan-y;
  .owl-wrapper {
    position: relative;

    display: none;

    -webkit-transform: translate3d(0px, 0px, 0px);
    &:after {
      line-height: 0;

      display: block;
      visibility: hidden;
      clear: both;

      height: 0;

      content: '.';
    }
  }
  .owl-wrapper-outer {
    position: relative;

    overflow: hidden;

    width: 100%;
    &.autoHeight {
      transition: height 500ms ease-in-out;
    }
  }
  .owl-item {
    float: left;
  }
}

/* display none until init */

.owl-controls {
  user-select: none;

  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  .owl-page,
  .owl-buttons div {
    cursor: pointer;
  }
}

/* mouse grab icon */

.grabbing {
  cursor: url(../img/grabbing.png) 8 8, move;
}

/* fix */

.owl-carousel {
  .owl-wrapper,
  .owl-item {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
  }
}
